name: Nix flake check
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "**/*.nix"
      - "**/flake.nix"
      - "**/flake.lock"
  workflow_call:
    inputs:
      runner:
        description: Runner label to use for the job
        type: string
        default: ubuntu-24.04

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  flake-check:
    name: Flake Check
    runs-on: ${{ inputs.runner || 'ubuntu-24.04' }}
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
        with:
          extra-conf: |
            sandbox = false
            ssl-cert-file = /etc/ssl/certs/ca-certificates.crt
            extra-substituters = https://nix-cache.cffnpwr.dev
            extra-trusted-public-keys = cffnpwr-nixpkgs-extras:dmp2DUGwdqawLCPOsOcRxU/NpCO/qA1jha/8rmoSzvA=

      - name: Check flake
        run: nix flake check --all-systems
